/* Global */

.page-title {
	padding-top: 5px;
	text-align: center;
}

h2 {
	text-transform: uppercase;
	color: #f52650;
    text-shadow: 0px 2px 2px #000,

}

.logo {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
}


/* Home */

.about {
	text-align: center;
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 10px;
}

.intro {
	height: 320px;
	width: auto;
	position: relative;
	padding-top: 10px;
	padding-bottom: 55px;
	margin-left: -5%;
}

#slideshow { 
    margin: 0px auto; 
    position: relative; 
    width: 300px; 
    height: 320px;
}

#slideshow > div {
    position: absolute; 
    border:10px solid #48e1e1;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.start {
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
}


/* Start Page */

.game-type {
	padding-top: 25px;
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
}

.button-block {
	background-color: #1eb0e9;
}

#game-1 {

}

.bottom {
	padding-top: 15px;
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
}

.upper {
  padding-top: 5px;
  width: 100%;
  text-align: center;
}

#pictoshow{
	height: 340px;
	width: 300px;
}

