/*
	projectTree Styler 	 
*/

#projectTree, #projectTree ul, #projectTree li{
	margin:0;
	padding:0;
	list-style:none;
}
#projectTree{background:url(../images/line1.gif) repeat-y;}
#projectTree li{
	line-height:20px;
	margin-top:1px;
	position:relative;
	width:100%;
}
/* IE leaves a blank space where span is added so this is to avoid that */
* html #projectTree li{
	float:left;
	display:inline;
}

#projectTree li a{padding-left:28px;}
#projectTree li span{float:left;position:absolute;top:5px;left:5px;width:13px;height:13px;cursor:auto;font-size:0;}
#projectTree li span, #projectTree li span.collapsed{background:url(../images/collapsed.gif) no-repeat 0 0;} 
#projectTree li span.expanded{background:url(../images/expanded.gif) no-repeat 0 0;}

/* sub levels */

#projectTree li ul{	
	margin-left:28px;
	background:url(../images/line1.gif) repeat-y;
}
#projectTree li li{	
	background:url(../images/line2.gif) no-repeat 0 0;
}

/* etc. */

/* float fix */

#projectTree:after, #projectTree ul:after{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
#projectTree, #projectTree ul{display:block;}
/*  \*/
#projectTree, #projectTree ul{min-height:1%;}
* html #projectTree, * html #projectTree ul{height:1%;}
 /*  */
#projectTree ul{display:none;}

#projectTree a{
	text-decoration:none;
	color:#0072C6;
}
#projectTree a:hover{
	text-decoration:none;
	color:#999;
}