/* Small reset */

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;         
}

a{
  color: #6F3736;
}      

/* Clear floats */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix{
  *zoom: 1;
}

/* Layout styles */

body{
    background: #eee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF3d3d////riJKgAAAAAJ0Uk5T/wDltzBKAAAAFUlEQVR42mJgBAEGGMmAxAYCgAADAAGGABmnk/7aAAAAAElFTkSuQmCC);
    margin: 0;
    font-family: 'Lucida sans', Arial, Helvetica;
    font-size: small;
}

header{
    background-color: #4d4d4d;
    background-image: linear-gradient(top, #6f3736, #4c2626);  
    box-shadow: 0 1px 0 #fff, 0 -3px 3px #000 inset;
}

header hgroup{
    margin: 0 auto;
    width: 960px;            
}
        
header h1{
    margin: 0;
    font: 25px/1 'Luckiest Guy', cursive; /* Google font API */
    float: left;
    text-shadow: 0 1px 0 rgba(0,0,0,.9);
    color:#d4d4d4;            
}

h6{
    margin: 0;          
}


header h5{
    color: yellow;
    margin: 0;
    float: right;
    font-family:  'Source Code Pro',sans-serif,Arial;
    color:#d4d4d4;
    font-size: 12px;
}

header a{
    color: #eee;
    text-decoration: none;
}

header a span{
    color: yellow;
}

/* --------------------------------------------------- */

footer{
    text-align: right;
    width: 960px;
    margin: 0 auto;
    padding: 10px 0;
}

#tw, #fb{
    float: right;
    width: 130px;
    margin: 10px 0 0 0;
    overflow: hidden;
}

/* --------------------------------------------------- */        

#main{
    margin: 10px auto 0 auto;
    width: 100%;
}

aside{
    float: left;
    width: 15%;
    margin-right: 20px;
    margin-left: 10px;
}

#content{
    float: left;
    width: 80%;
}

article{
    position: relative;            
    padding: 20px;
    margin: 0 0 20px 0;
    text-align: left;
    background: #fff;
    box-shadow: 0 1px 1px #999;
    border-radius:5px;            
}

article:before, article:after{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(-3deg);
}

article:after{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}        

article footer{
    text-align: center;
    width: auto;
}

article footer span{
  padding: 0 10px 0 12px;
  margin: 0 0 0 12px;
  background: #bbb;
  color: #fff;
  font: bold 12px/24px arial, helvetica;
  display: inline-block;
  position: relative;
  text-shadow: 0 1px 0 #999;
  border-radius: 0 4px 4px 0;
  box-shadow: 0 1px 0 #fff, 0 1px 0 #999 inset;
}

article footer span:before{
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent #bbb transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;
}
 
article footer span:after{
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #fff;
  box-shadow: -1px -1px 2px #777;
}        

figure{
    margin: 1em 0;
}

figcaption{
    margin: 0.5em 0;
    font-style: italic;
    font-size: 0.9em;
    color: #777;
}

/* Vertical menu */


#menu li{
  margin: 0 0 3px 0;             
}

#menu a{
  display: block;
  *display: inline-block;
  *width: 240px;
  text-decoration: none;	            
  background: #ddd;
  color: #444;	
  padding: 7px 5px;
  text-transform: uppercase;
  font: bold 11px Arial,Helvetica;          
  border-radius:5px;
  box-shadow: 0 1px 0 #ccc;   
}

#menu a:hover{
    color: #eee;
    background: #9c9c9c;
    background: linear-gradient(top, #bbb, #999);          
}

#menu .expandable{
    position: relative; 
}

#menu .expandable:before,
#menu .expandable:after{
  content: '';
  position: absolute;
  right: 5px;
  margin-top: 5px;
  border-top: 6px solid #444;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;          
}

#menu .expandable:before{
   border-top-color: #fff;
   margin-top: 6px;
}

#menu .expanded:after{
  border-top: 0;
  border-bottom: 6px solid #444;       
}

#menu .expanded:before{
    border-top: 0;
    border-bottom: 6px solid #fff;               
}

#menu ul a{
    background: #f2f2f2;
    text-transform: none;
    font-weight: normal;            
}

#menu ul a:hover{
    background: #fafafa;
    color: #444;
}

///////////// END WP-PARTNER MENU
#topmenu{padding-bottom:2px;}
#topmenu li{
  margin: 0 0 3px 0;             
}

#topmenu a{
  display: block;
  *display: inline-block;
  *width: 240px;
  text-decoration: none;	            
  background: #ddd;
  color: #444;	
  padding: 7px 5px;
  text-transform: uppercase;
  font: bold 11px Arial,Helvetica;          
  border-radius:5px;
  box-shadow: 0 1px 0 #ccc;   
}

#topmenu a:hover{
    color: #eee;
    background: #9c9c9c;
    background: linear-gradient(top, #bbb, #999);          
}

#topmenu .topexpandable{
    position: relative; 
}

#topmenu .topexpandable:before,
#topmenu .topexpandable:after{
  content: '';
  position: absolute;
  right: 5px;
  margin-top: 5px;
  border-top: 6px solid #444;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;          
}

#topmenu .topexpandable:before{
   border-top-color: #fff;
   margin-top: 6px;
}

#topmenu .topexpanded:after{
  border-top: 0;
  border-bottom: 6px solid #444;       
}

#topmenu .topexpanded:before{
    border-top: 0;
    border-bottom: 6px solid #fff;               
}

#topmenu ul a{
    background: #f2f2f2;
    text-transform: none;
    font-weight: normal;            
}

#topmenu ul a:hover{
    background: #fafafa;
    color: #444;
}

///////////// END COORDINATOR MENU
.Web_OnlineTools_Table {

	margin:0px;padding:0px;

	width:100%;
	box-shadow: 10px 10px 5px #888888;

	border:1px solid #000000;
}

.Table_Menu_Partner {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.Table_Menu_Partner table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.Table_Menu_Partner tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}.Table_Menu_Partner table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.Table_Menu_Partner table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}.Table_Menu_Partner tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}.Table_Menu_Partner tr:hover td{
	background-color:#82c0ff;
	background:-o-linear-gradient(bottom, #82c0ff 5%, #56aaff 100%);	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #82c0ff), color-stop(1, #56aaff) );
	background:-moz-linear-gradient( center top, #82c0ff 5%, #56aaff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#82c0ff", endColorstr="#56aaff");	background: -o-linear-gradient(top,#82c0ff,56aaff);
}.Table_Menu_Partner tr:first-child td{
	background:-o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");	background: -o-linear-gradient(top,#0069d3,007fff);
	background-color:#0069d3;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:18px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#ffffff;
}.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");	background: -o-linear-gradient(top,#0069d3,007fff);
	background-color:#0069d3;
}.Table_Menu_Partner tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}.Table_Menu_Partner tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}.Table_Menu_Partner td{
	background:-o-linear-gradient(bottom, #56aaff 5%, #82c0ff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #82c0ff) ); 
	background:-moz-linear-gradient( center top, #56aaff 5%, #82c0ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#82c0ff");	background: -o-linear-gradient(top,#56aaff,82c0ff);
	background-color:#56aaff;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#000000;
}.Table_Menu_Partner tr:last-child td{
	border-width:0px 1px 0px 0px;
}.Table_Menu_Partner tr td:last-child{
	border-width:0px 0px 1px 0px;
}.Table_Menu_Partner tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

ol{
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
	font: 15px 'trebuchet MS', 'lucida sans';
	padding: 0;
	margin-bottom: 4em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol{
	margin: 0 0 0 2em; /* Add some left margin for inner lists */
}


.rounded-list a{
	position: relative;
	display: block;
	/*padding: .4em .4em .4em 2em;*/
	*padding: .4em;
	margin: .5em 0;
	background: white;
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: all .3s ease-out;
	text-align: center;	
}

.expenses{
	position: relative;
	display: block;
	/*padding: .4em .4em .4em 2em;*/
	*padding: .4em;
	margin: .5em 0;
	background: black;
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: all .3s ease-out;
	text-align: center;	
}

.rounded-list a:hover{
	background: #eee;
}

.rounded-list a:hover:before{
    transform: rotate(360deg);	
}

.rounded-list a:before{
	content: normal;
	counter-increment: li;
	position: absolute;	
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #87ceeb;
	height: 2em;
	width: 50%;
	line-height: 2em;
	border: .3em solid #fff;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
	text-align: center;
}

#expenses{
	position: relative;
	display: inline;
	/*padding: .4em .4em .4em 2em;*/
	*padding: .4em;
	margin: .5em 0;
	background: black;
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: all .3s ease-out;
	text-align: center;
	width:30%;
}


.settings_form_title,.settings_form_title_editable {

line-height: 25px;
font-weight: bold;
font-size: 13px;
font-family: arial;
border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
width: 100%;
background-color: #ddd;
color: #52463b;
border-color:#52463b;
text-align: center;
vertical-align: middle;
}

.settings_form_sub_title {
color: white;
line-height: 25px;
font-weight: bold;
font-size: 13px;
font-family: arial;
border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
width: 100%;
background-color: black;
text-align: center;
vertical-align: middle;
}

.settings_form_head_title {
color: yellow;
text-transform:uppercase;
line-height: 25px;
font-weight: bold;
font-size: 18px;
font-family: arial;
border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
width: 100%;
background-color: #52463b;
text-align: center;
vertical-align: middle;
}

.settings_form_head_sub_title {
color: white;
text-transform:uppercase;
line-height: 25px;
font-weight: bold;
font-size: 18px;
font-family: arial;
border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
width: 100%;
background-color: green;
text-align: center;
vertical-align: middle;
}

.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }
.styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   }
   

   
   a.topbutton {
    background-color: #E0EAF1;
    border-bottom: 1px solid #B3CEE1;
    border-right: 1px solid #B3CEE1;
    color: #3E6D8E;
    font-size: 90%;
    line-height: 2.4;
    margin: 2px 2px 2px 0;
    padding: 3px 4px;
    text-decoration: none;
    white-space: nowrap;
}
   
 .line-separator{

height:1px;

background:#717171;

border-bottom:
px dotted #313030;

}




/* Test for tables */
.tableHeader{ float:left; width:100%;}
.table1Header{ width:10%;}
.table2Header{ width:22%;}
.table7Header{ width:25%;}
.table3Header{ width:8%;}
.table4Header{ width:5%;}
.table5Header{ width:5%;}
.table6Header{ width:25%;}
.table1Header,.table2Header,.table3Header,.table4Header,.table5Header,.table6Header,.table7Header{ 
float:left;
font-style:bold;
color:black;
color: #444;
font-size: 11px;
font-weight: bold;
padding-bottom:3px;
padding-top:3px;
background-color: #cccccc;
text-transform: uppercase;
font-family: arial;
}

.tableList{ float:left; width:100%;margin-top:5px;}
.table1,.table1odd{ width:10%;}
.table2,.table2odd{ width:22%;}
.table7,.table7odd{ width:25%;}
.table3,.table3odd{ width:8%;}
.table4,.table4odd{ width:5%;}
.table5,.table5odd{ width:5%;}
.table6,.table6odd{ width:25%;}
.table1,.table2,.table3,.table4,.table5,.table6,.table7{ float:left;color:#777;padding-top:2px;background-color:#f2f2f2;}
.table1odd,.table2odd,.table3odd,.table4odd,.table5odd,.table6odd,.table7odd{ float:left;color:#777;padding-top:2px;}

#content h3 {
font-weight: bold;
font-size: 110%;
/*color: #8F8781;*/
margin-bottom: .5em;
border-bottom: 1px solid #aaaaaa;
color:white;
}

#content h4 {
font-weight: bold;
font-size: 110%;
/*color: #8F8781;*/
margin-bottom: .5em;
border-bottom: 1px solid #aaaaaa;
}

#secondArticle h1 {
font-weight: bold;
font-size: 120%;
color: #8F8781;
margin-bottom: .5em;
border-bottom: 1px dotted #aaaaaa;
}

#secondArticle h5 {
font-weight: bold;
font-weight: italic;
font-size: 100%;
color: #8F8781;
margin-bottom: .5em;
padding-bottom: 5px;
}

.odd div{background-color:#f2f2f2;}

.tableList div.table4{background-color:white;color:white;}

