@import url(http://weloveiconfonts.com/api/?family=entypo);


/* Global */

.page-title {
	padding-top: 5px;
	text-align: center;
}

h1 {
	font-size: 2.6em;
  font-weight: bold;
	text-align: center;
  text-transform: uppercase;
  color: #48e1e1;
  height: 40px;
  text-shadow: 0 0 12px rgba(255,255,255,.3);
}

h1 span {
	font-weight: normal;
}

h2 {
	text-transform: uppercase;
	color: #f52650;
  text-shadow: 0px 1px 2px #000;
  padding-bottom: 3px;

}

h3{
	color: #fff;
	font-weight: normal;	
}

h4{
  color: #f52650;
  font-size: 1.2em;
  text-align: center;
}

h5{
  color: #fff;
  font-weight: normal;  
}

.logo {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
}

.entypo-menu {
	font-size:19px;
}

.clear {
	clear: all;
}

.clear-all{
  clear: all;
}
/* Home */

.about {
	text-align: center;
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 10px;
}

.intro {
	height: 200px;
	width: auto;
	position: relative;
	padding-top: 20px;
	padding-bottom: 0px;
	margin-left: -5%;
}

#slideshow { 
    margin: 0px auto; 
    position: relative; 
    width: 230px; 
    height: 160px;
}

#slideshow > div {
    position: absolute; 
    border:6px solid #f52650;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.start {
	padding-top: 10px;
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
}


/* Start Page */

.game-type {
	padding-top: 6px;
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
}

.button-start{
	display: block;
	padding: 7px 0 7px;
	margin-bottom: 10px;
	font-size: 16px;
}

.bottom {
	padding-top: 8px;
	width: auto;	
	margin-right: 0%;
}

.upper {
	padding-top: 3px;
	width: 100%;
	text-align: center;
}

.answers {
	margin-left: 9%;
	margin-right: 11%;
}


#picture {

}

/* Question # & Score Game Page */



.score-question {
  margin: 0px 4%;
  font-size: 14px;
}

#question-numb {
	position: absolute;
	left: 0px;
  width:50px;
  background: ;
}

#score-numb{
	position: absolute;
	right: 0px;
  width: 50px;
  background:;
}

#question-numb, #score-numb{
  top: 145px;
  text-align: center;
  padding: 8px 8px 2px;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 16px;
}

.question{
	color:#F52650;
}
#fact {
  height: 120px;
  margin: 0px 4%
}

#fact h3 {

  padding: 1px;

}


/* Points & Time on Finish Page */

#score{
  float: left;
}

#time{
  float: right;
}

.score-time{
  width: 60%; 
  margin: 3px auto; 
  height: 25px;
  padding: 1px 20px 11px;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 18px;
}

#score h3, #score h4, #time h3, #time h4{
  text-align: center; 
  position: relative; 
  height: 15px;
}




/* Social Boxes */

#social-static {
  text-align:center;
  position:relative;
  margin: 0 auto;
  padding:10px 0 15px 0;
  width:360px;
  height:70px;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.social {
  text-align: center;

}

ul {
  position:relative;
  margin:auto;
  color:#fff;
  text-align: center;
  padding:0;
  list-style:none;
}

ul li {
  font-size:24px;
  
  cursor:pointer;
  width:60px;
  margin:0 5px;
  padding:4px 0;
  text-align:center;
  display:inline-block;
  height:28px;}

li[class*="facebook"] {background:#5100dd;padding:12px 0;}
li[class*="twitter"] {background:#48e1e1;padding:12px 0;}
li[class*="mail"] {background:#f52650;padding:12px 0;}






/* table */

.leader-board {
  text-align: center;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
}


table {
    width:300px;
    display:table;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    margin: 10px auto !important;
    box-shadow: 0 1px 16px rgba(81, 0, 221, .8);
}


thead {
    font-weight:lighter;
    text-align:left;
    background-color: #5202dd;
    background-image: -webkit-linear-gradient(top, #9563ea 0, #5202dd 100%);
    background-image: linear-gradient(to bottom, #9563ea 0, #5202dd 100%);
    color:#fff;
}

.place {
  width: 38px;
  padding-right: 34px;
}

.points {
  width: 40px;
}

th {
  font-size: 1em;
  font-weight: bold;
}

td, th {
    border:1px solid #5100dd;
    padding:8px;
}

tbody tr:nth-child(even) td {
    color: #48e1e1;
    background-color: #464646;
    background-image: -webkit-linear-gradient(top, #464646 0, #252525 100%);
    background-image: linear-gradient(to bottom, #464646 0, #252525 100%);
}

tbody tr:nth-child(odd) td {
    color: #48e1e1;
    background-color: #464646;
    background-image: -webkit-linear-gradient(top, #464646 0, #252525 100%);
    background-image: linear-gradient(to bottom, #464646 0, #252525 100%);
}

.place, .points, td, tr{
    text-align:center;
    padding: 4px;
}



/* dropdown */








/* Finish Page H1 */
#total-score h1 {
height: 40px;
}

#total-score h1 {
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 12px rgba(255,255,255,.3);

/* Clip Background Image */


background-size: 50px 50px;
/*background-color: #3ec7c7;
background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                  transparent 75%, transparent);
background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                  transparent 75%, transparent);
background-image: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                  transparent 75%, transparent);*/
  -webkit-background-clip: text;

/* Animate Background Image */

  -webkit-animation: aitf 10s linear infinite;

/* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
/*FLIP*/
.upper {
	padding-top: 5px;
  	width: 100%;
  	text-align: center;
	
	position: relative;
	height: 160px;
	width: 240px;


	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
	margin:0 auto;

}

.card {   
    position: absolute;  
  
    -webkit-backface-visibility: hidden;  
    -moz-backface-visibility: hidden;  
    backface-visibility: hidden;  
} 

.front .info {
	width: 18px;
	height: 18px;
	border-radius: 21px;
	font-family: "Georgia", serif;
	font-style: italic;
	background-color: #075621;
	color: #fff;
	text-align: center;
	position: absolute;
	right: 10px;
	bottom: 15px;
	font-size: 11px;
	line-height: 18px;
	display: block;
	text-decoration: none;
}


.front {
	z-index: 1;
}

.back {  
    -webkit-transform: rotateY(180deg);  
    -moz-transform: rotateY(180deg);  
    transform: rotateY(180deg);  
}

.back .nav {  
    padding: 0;  
    margin: 0;  
    color: #fff;  
    font-size: 12px;  
    width: 100%;  
    font-weight: bold;  
}  
.back .nav li {  
    display: inline;  
    position: absolute;  
    top: 18px;  
}  
.back .nav a {  
    font-weight: bold;  
    text-decoration: none;  
    padding: 7px 10px;  
    border: 1px solid #095d25;  
    border-radius: 5px;  
    color: #fff;  
  
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.5) 100%);  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(0,0,0,0.5)));  
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.5) 100%);  
    background: -o-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.5) 100%);  
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.5) 100%);  
    background: linear-gradient(to bottombottom,  rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.5) 100%);  
}  
.back .nav a:hover {  
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.4) 0%, rgba(0,0,0,0.55) 100%);  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(0,0,0,0.55)));  
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(0,0,0,0.55) 100%);  
    background: -o-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(0,0,0,0.55) 100%);  
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(0,0,0,0.55) 100%);  
    background: linear-gradient(to bottombottom,  rgba(255,255,255,0.4) 0%,rgba(0,0,0,0.55) 100%);  
}  
.back .nav .title {  
    left: 105px;  
}  
.button.done {  
    rightright: 10px;  
}

.rotate-3d {  
    -webkit-transform: rotateY(180deg);  
    -moz-transform: rotateY(180deg);  
    transform: rotateY(180deg);  
} 

#pictoshow{
	height: 160px;
	width: 240px;
}

#backpic{
	height: 160px;
	width: 240px;
}

.content{
	display:none;
}


#social-static h3{
  padding-bottom: 4px;
}