/* Global */

.page-title {
	padding-top: 5px;
	text-align: center;
}

h2 {
	text-transform: uppercase;
	color: #f52650;
    text-shadow: 0px 2px 2px #000,

}

.logo {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
}


/* Home */

.about {
	text-align: center;
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 10px;
}

.intro {
	height: 320px;
	width: auto;
	position: relative;
	padding-top: 10px;
	padding-bottom: 55px;
	margin-left: -5%;
}

#slideshow { 
    margin: 0px auto; 
    position: relative; 
    width: 300px; 
    height: 320px;
}

#slideshow > div {
    position: absolute; 
    border:10px solid #48e1e1;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.start {
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
}


/* Start Page */

.game-type {
	padding-top: 25px;
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
}

.button-block {
	background-color: #1eb0e9;
}

#game-1 {

}

.bottom {
	padding-top: 15px;
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
}



#pictoshow{
	height: 340px;
	width: 300px;
}



/*FLIP*/
.upper {
	padding-top: 5px;
  	width: 100%;
  	text-align: center;
	
	position: relative;
	height: 340px;
	width: 300px;


	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
	margin:0 auto;

}

.card {   
    position: absolute;  
  
    -webkit-backface-visibility: hidden;  
    -moz-backface-visibility: hidden;  
    backface-visibility: hidden;  
} 

.front .info {
	width: 18px;
	height: 18px;
	border-radius: 21px;
	font-family: "Georgia", serif;
	font-style: italic;
	background-color: #075621;
	color: #fff;
	text-align: center;
	position: absolute;
	right: 10px;
	bottom: 15px;
	font-size: 11px;
	line-height: 18px;
	display: block;
	text-decoration: none;
}


.front {
	z-index: 1;
}

.back {  
    -webkit-transform: rotateY(180deg);  
    -moz-transform: rotateY(180deg);  
    transform: rotateY(180deg);  
}

.back .nav {  
    padding: 0;  
    margin: 0;  
    color: #fff;  
    font-size: 12px;  
    width: 100%;  
    font-weight: bold;  
}  
.back .nav li {  
    display: inline;  
    position: absolute;  
    top: 18px;  
}  
.back .nav a {  
    font-weight: bold;  
    text-decoration: none;  
    padding: 7px 10px;  
    border: 1px solid #095d25;  
    border-radius: 5px;  
    color: #fff;  
  
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.5) 100%);  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(0,0,0,0.5)));  
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.5) 100%);  
    background: -o-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.5) 100%);  
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.5) 100%);  
    background: linear-gradient(to bottombottom,  rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.5) 100%);  
}  
.back .nav a:hover {  
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.4) 0%, rgba(0,0,0,0.55) 100%);  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(0,0,0,0.55)));  
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(0,0,0,0.55) 100%);  
    background: -o-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(0,0,0,0.55) 100%);  
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(0,0,0,0.55) 100%);  
    background: linear-gradient(to bottombottom,  rgba(255,255,255,0.4) 0%,rgba(0,0,0,0.55) 100%);  
}  
.back .nav .title {  
    left: 105px;  
}  
.button.done {  
    rightright: 10px;  
}

.rotate-3d {  
    -webkit-transform: rotateY(180deg);  
    -moz-transform: rotateY(180deg);  
    transform: rotateY(180deg);  
} 

